body {
  margin: 0;
}

h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

hr {
  width: 4%;
  border: 1px solid white;
}

.header {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/landingBackground.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.header__title {
  align-items: center;
  flex-wrap: wrap;
  padding-top: 21%;
}

.header__catchphrase {
  text-align:center;
  margin: auto;
  width: 50%;
  color: white;
}

.header__mainbutton {
  margin-top: 40px;
}

.header__mainbutton__style {
  background: #a6bce0;
  border: 0;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 15px 15px;
  cursor: pointer;
}

.faded__text {
  color: rgba(255, 255, 255, 0.7);
}

#header__nav {
  margin:0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: fixed;
  top: 0;
  width: 100%;
}

#header__nav__title {
  display:flex;
  text-decoration: none;
  align-items: center;
  margin-left: 10px;
  transition: 0.3s;
}

#header__nav__title:hover {
  color: white;
}

#header__nav__links {
  display: flex;
  list-style: none;
  padding: 0;
}

.header__nav__link {
  transition: 0.3s;
}

.header__nav__link:hover {
  color: white;
}

#header__nav li a {
  text-decoration: none;
  margin: 0 10px;
}

#header__title__text {
  color: white;
  text-transform: uppercase;
}

#header__catchphrase__text {
  font-family: 'Montserrat', sans-serif;
}

#testimonials {
  background: linear-gradient( rgba(0, 115, 196, 0.85), rgba(0, 115, 196, 0.85) ), url('../images/testimonialpics/testimonials.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials__text > p {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Montserrat, sans-serif;
}

.testimonials__faces {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 0px 5px rgba(7, 4, 4, 0.2);
}

.testimonials__text {
  text-align: center;
  font-size: 20px;
  color: white;
}

#testimonial__header {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 12vh;
}
#testimonial__header__1 {
  font-size:35px;
  margin:0;
  font-weight: 100;
}

#testimonial__header__2 {
  font-size:20px;
  margin:0;
  font-weight: 100;

}